@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(to right bottom, hsl(212, 45%, 89%), hsl(0, 0%, 100%));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
img {
    width: 100%;
}
.container {
    width: 250px;
    height: 400px;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px -5px hsl(212, 45%, 89%);
}
.container img {
    border-radius: 8px;
}
.qr-info {
    text-align: center;
}
.qr-info h2 {
    font-size: 18px;
    margin-top: 15px;
}
.qr-info p {
    font-size: 15px;
    margin-top: 15px;
    color: hsl(220, 15%, 55%);
}

